.paragraph {
  font-weight: 400;
}


.s { 
  max-width: 330px;
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 21px;

}

.m {
  max-width: 687px;
  margin-top: 8px;
  margin-bottom: 20px;
  
  font-size: 18px;
  line-height: 32px;
  
  
}