.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 33px;
  justify-items: center;
}


@media (max-width:1080px) {
  .body {
    grid-template-columns: repeat(2, 350px);
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .body {
    grid-template-columns: 1fr;
  }
}
