:root {
  --background: #FFFFFF;
  --black-title:  #2C2C2C;
  --black-text :  #000000;
  --gray:  #6E6E6E;
  --blue:  #1473E6;
  --blue-hover:#016AEB;
  --color-border : #F5F5F5;
  --blackbutton:#303030; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0A0A0A;
    --foreground: #EDEDED;
  }
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

body {
  font-family: "Open Sans",  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--gray);
  
  background: var(--background);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
